<div class="main_content_wrap outer">
 	<section class="main_content inner">
		<nav class="nav-primary" role="navigation" >
		    <ul>
		        {% for p in site.pages %}
		        {% if p.title %}
			        <li>
			        	<a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.base_url }}{{ p.url }}">
			        		{% if p.date %}
			        			{{ p.date }} -- 
			        		{% endif %} {{ p.title }}</a>
			        </li>
		        {% endif %}
		        {% endfor %}
		    </ul>
		</nav>
 	</section>
</div>